<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/echarts.js"></script>
  </head>

  <body>
    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div id="main" style="width: 820px;height:980px;"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));
      // 异步请求
      $.ajax({
        url: 'http://127.0.0.1:5000/query3Json',
        success: function (data) {
          data = JSON.parse(data);
          console.log(data);

        // 指定图表的配置项和数据
      var option = {
        title: {
          text: 'Query key word 仙剑奇侠传 more than 3 times'
        },
        tooltip: {},
        xAxis: {
          data: data['keyword']
          // data: ['人数']
        },
        yAxis: {},
        series: [
          {
            name: '点击数',
            type: 'bar',
            data: data['count']
          }
        ]
      }
          // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
      }
      });


    </script>
  </body>
</html>